@{
    ViewBag.Page = "Booking";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <!--Hero Image-->
    <div class="hero-image">
        <img class="hero-image__background" src="~/Images/Booking/HeroPic.jpg">
        <div class="hero-content">
            <div class="hero-text">
                <h1>BOOK YOUR RIDE</h1>
            </div>
@*             <div class="hero-image__container">
                <img class="hero-image__img" src="~/Images/Home/HeroPictureTwo.png">
            </div> *@
        </div>
    </div>
    <!-- Web page Content -->
    <!-- Car Details -->
    <div class="booking-car-details-container">
        <div class="car-details">
            <div class="car-image">
                <div class="w3-content w3-display-container">
                    @if (Model.Vehicle != null)
                    {
                        <img src="@(Model.Vehicle != null ? "data:image;base64," + Convert.ToBase64String(Model.Vehicle.Image) : "placeholder.jpg")" alt="@Model.Vehicle?.Name ?? " Please select a vehicle"" class="mySlides">
                    }
                    @if (Model.Vehicle != null && !string.IsNullOrEmpty(Model.Vehicle.ImageTwo))
                    {
                        <img src="@Model.Vehicle.ImageTwo" class="mySlides" alt="Image Two">
                    }

                    @if (Model.Vehicle != null && !string.IsNullOrEmpty(Model.Vehicle.ImageThree))
                    {
                        <img src="@Model.Vehicle.ImageThree" class="mySlides" alt="Image Three">
                    }

                    @if (Model.Vehicle != null && !string.IsNullOrEmpty(Model.Vehicle.ImageFour))
                    {
                        <img src="@Model.Vehicle.ImageFour" class="mySlides" alt="Image Four">
                    }
                  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                  <button class="w3-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                </div>
            </div>
            <div class="car-spec">
                @if (Model.Vehicle != null)
                {
                    <table>
                        <tr>
                            <th colspan="2">@Model.Vehicle.Name</th>
                        </tr>
                        <tr>
                            <td>Category: @Model.Vehicle.VehicleCategory.Name</td>
                            <td>Gear Box: Auto</td>
                        </tr>
                        <tr>
                            <td>Year: @Model.Vehicle.Year</td>
                            <td>Number of Passenger: @Model.Vehicle.NumberOfSeat pax</td>
                        </tr>
                        <tr>
                            <td>Fuel: @Model.Vehicle.VehicleFuel.Name</td>
                            <td>Price: RM @Model.Vehicle.Price</td>
                        </tr>
                        <tr>
                            <td>Engine Capacity: @Model.Vehicle.EngineCapacity cc</td>
                            <td>Deposit: RM @Model.Vehicle.Deposit</td>
                        </tr>
                    </table>
                }
                else
                {
                    <p>Please select a vehicle</p>
                }
            </div>
        </div>
    </div>
    <!-- booking Form -->
    <div class="booking-form">
        <h2>Reservation Details</h2>
        @* <form action="@Url.Action("Checkout", "Home")" method="post" id="bookingForm"> *@
        <form action="@Url.Action("Checkout", "Home")" method="post" id="bookingForm" onsubmit="return validateCustomerName()">
            <div class="booking-form-group">
                <label for="vehicle">Vehicle:</label>
                <input id="vehicleId" name="VehicleId" type="hidden" value="@Model.Vehicle?.VehicleId" required>
                <input id="vehicle" name="Vehicle" type="text" readonly value="@Model.Vehicle?.Name" required>
            </div>
            <div class="booking-form-group">
                <label for="customer-name">Customer Name:</label>
                <input type="text" id="customer-name" name="CustomerName" required>
            </div>
            <div class="booking-form-group">
                <label for="identification-number">Identification Number:</label>
                <input type="text" id="identification-number" name="Icnumber" required>
            </div>
            <div class="booking-form-group">
                <label for="email">Customer Email:</label>
                <input type="email" id="email" name="Email" required>
            </div>
            <div class="booking-form-group">
                <label for="phone-number">Phone Number:</label>
                <input type="tel" id="phone-number" name="CustomerPhoneNumber" required>
            </div>
            <div class="booking-form-group">
                <label>Pickup Date & Time:</label>
                <div class="booking-form-row ">
                    <div class="booking-form-col">
                        <input type="date" id="pickup-date" name="PickUpDate" required>
                    </div>
                    <div class="booking-form-col">
                        <input type="time" id="pickup-time" name="PickUpTime" required>
                    </div>
                </div>
            </div>
            <div class="booking-form-group">
                <label for="pickup-location">Pickup Location:</label>
                <select id="pickup-location" name="PickUpLocation" required>
                    <option value="none" selected disabled hidden>Select an Option</option>
                    <option value="Kuching International Airport">Kuching International Airport</option>
                    <option value="Bus Station">Kuching Sentral Bus Station</option>
                    <option value="Hotel">Hotel in Kuching (RM15)</option>
                </select>
            </div>
            <div class="booking-form-group">
                <label>Dropoff Date & Time:</label>
                <div class="booking-form-row ">
                    <div class="booking-form-col">
                        <input type="date" id="dropoff-date" name="DropOffDate" required>
                    </div>
                    <div class="booking-form-col">
                        <input type="time" id="dropoff-time" name="DropOffTime" required>
                    </div>
                </div>
            </div>
            <div class="booking-form-group">
                <label for="dropoff-location">Dropoff Location:</label>
                <select id="dropoff-location" name="DropOffLocation" required>
                    <option value="none" selected disabled hidden>Select an Option</option>
                    <option value="Kuching International Airport">Kuching International Airport</option>
                    <option value="Bus Station">Kuching Sentral Bus Station</option>
                    <option value="Hotel">Hotel in Kuching (RM15)</option>
                </select>
            </div>
            <div class="booking-form-group">
                <label for="driving-range">Driving Range:</label>
                <label>Fees are one time payment only!</label>
                <select id="driving-range-select" name="DrivingRange" required>
                    <option value="" selected disabled>Select A Driving Range</option>
                    @foreach (var range in Model.DrivingRanges)
                    {
                        <option value="@range.LocationId">@range.Name (RM @range.Fee)</option>
                    }
                </select>
            </div>
            <div class="booking-form-group">
                <label>Special Requests:</label>
                <div class="booking-form-row-sprcial-request">
                    <input type="checkbox" id="baby-chair" name="BabySeat" value="Yes">
                    <label class="checkbox-lable" for="baby-chair">Baby Chair</label>
                    <input type="checkbox" id="phone-holder" name="PhoneHolder" value="Yes">
                    <label class="checkbox-lable" for="phone-holder">Phone Holder</label>
                    <input type="checkbox" id="usb-cables" name="UsbCable" value="Yes">
                    <label class="checkbox-lable" for="usb-cables">USB Cables</label>
                </div>
            </div>
            <div class="booking-form-group">
                <div class="booking-form-row-sprcial-request">
                    <input type="checkbox" id="tnc" name="tnc" required>
                    <label class="checkbox-lable" for="tnc">I have Read The <a href="@Url.Action("TNC", "Home")">Terms And Conditions</a></label>
                </div>
            </div>
            <button type="submit" class="booking-form-button ">Check Out</button>
        </form>
    </div>

    <!-- Script -->
    <!-- Disable Previous Date -->
    <script>
        $(function () {
            var dtToday = new Date();
            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();

            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();

            var maxDate = year + '-' + month + '-' + day;
            $('#pickup-date').attr('min', maxDate);
            $('#dropoff-date').attr('min', maxDate);

            // Add change event listener to pick-up date input
            $('#pickup-date').change(function () {
                var minPickupDate = $(this).val();
                $('#dropoff-date').attr('min', minPickupDate);
            });
        });
    </script>
    <!-- Pass Form to Checkout Page -->
    <script>
        function submitForm() {
            // Serialize the form data
            var formData = $("#bookingForm").serialize();
            // Redirect to the checkout page with the form data as query parameters
            window.location.href = "@Url.Action("Checkout", "Home")?" + formData;
        }
    </script>
    <!-- Slideshow -->
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>
    <script>
        function validateCustomerName() {
            var customerName = document.getElementById("customer-name").value;
            // Check if customerName contains any numbers
            if (/\d/.test(customerName)) {
                alert("Please enter a valid customer name without numbers.");
                return false; // Prevent form submission
            }

            return true; // Allow form submission if validation passes
        }
    </script>
</body>
</html>