@{
    ViewBag.Page = "CheckOut";
}
@model CarRentalFYP.Models.Vehicle
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <!--Hero Image-->
    <div class="hero-image">
        <img class="hero-image__background" src="~/Images/Booking/HeroPic.jpg">
        <div class="hero-content">
            <div class="hero-text">
                <h1>CHECK OUT</h1>
            </div>
            @*             <div class="hero-image__container">
            <img class="hero-image__img" src="~/Images/Home/HeroPictureTwo.png">
            </div> *@
        </div>
    </div>
    <!-- Web page Content -->
    <!-- Car Details -->
    <div class="booking-car-details-container">
        <div class="car-details">
            <div class="car-image">
                @if (Model != null)
                {
                    <img src="@(Model != null ? "data:image;base64," + Convert.ToBase64String(Model.Image) : "placeholder.jpg")" alt="@Model?.Name ?? " Please select a vehicle"">
                }
            </div>
            <div class="car-spec">
                @if (Model != null)
                {
                    <table>
                        <tr>
                            <th colspan="2">@Model.Name</th>
                        </tr>
                        <tr>
                            <td>Category: @Model.VehicleCategory.Name</td>
                            <td>Gear Box: Auto</td>
                        </tr>
                        <tr>
                            <td>Year: @Model.Year</td>
                            <td>Number of Passenger: @Model.NumberOfSeat pax</td>
                        </tr>
                        <tr>
                            <td>Fuel: @Model.VehicleFuel.Name</td>
                            <td>Price: RM @Model.Price</td>
                        </tr>
                        <tr>
                            <td>Engine Capacity: @Model.EngineCapacity cc</td>
                            <td>Deposit: RM @Model.Deposit</td>
                        </tr>
                    </table>
                }
                else
                {
                    <p>Please select a vehicle</p>
                }
            </div>
        </div>
    </div>
    <!-- booking Form -->
    <div class="checkout-form">
        <div class="booking-details-container">
            <div class="booking-details-left">
                <h2>Booking Details</h2>
                <div class="booking-detail">
                    <label>Customer Name:</label>
                    <span>@ViewBag.CustomerName</span>
                </div>
                <div class="booking-detail">
                    <label>IC Number:</label>
                    <span>@ViewBag.ICNumber</span>
                </div>
                <div class="booking-detail">
                    <label>Email:</label>
                    <span>@ViewBag.Email</span>
                </div>
                <div class="booking-detail">
                    <label>Phone Number:</label>
                    <span>@ViewBag.PhoneNumber</span>
                </div>
                <div class="booking-detail">
                    <label>Pickup Date:</label>
                    <span>@ViewBag.PickUpDate.ToString("MM/dd/yyyy")</span>
                </div>
                <div class="booking-detail">
                    <label>Pickup Time:</label>
                    <span>@ViewBag.PickUpTime</span>
                </div>
                <div class="booking-detail">
                    <label>Pickup Location:</label>
                    <span>@ViewBag.PickUpLocation</span>
                </div>
                <div class="booking-detail">
                    <label>Dropoff Date:</label>
                    <span>@ViewBag.DropOffDate.ToString("MM/dd/yyyy")</span>
                </div>
                <div class="booking-detail">
                    <label>Dropoff Time:</label>
                    <span>@ViewBag.DropOffTime</span>
                </div>
                <div class="booking-detail">
                    <label>Dropoff Location:</label>
                    <span>@ViewBag.DropOffLocation</span>
                </div>
                <div class="booking-detail">
                    <label>Driving Range:</label>
                    <span>@ViewBag.DrivingRangeName</span>
                </div>
                <div class="special-request">
                    <h2>Special Requests</h2>
                    <div class="booking-detail">
                        <label>Baby Seat:</label>
                        <span>@(string.IsNullOrEmpty(ViewBag.BabySeat) ? "No" : ViewBag.BabySeat)</span>
                    </div>
                    <div class="booking-detail">
                        <label>Phone Holder:</label>
                        <span>@(string.IsNullOrEmpty(ViewBag.PhoneHolder) ? "No" : ViewBag.PhoneHolder)</span>
                    </div>
                    <div class="booking-detail">
                        <label>USB Cable:</label>
                        <span>@(string.IsNullOrEmpty(ViewBag.USBCable) ? "No" : ViewBag.USBCable)</span>
                    </div>
                </div>
            </div>
            <div class="booking-details-right">
                <div class="payment-details">
                    <h2>Payment Details</h2>
                    <div class="booking-detail">
                        <label>Total Rental Price:</label>
                        <span>RM @ViewBag.TotalRentalPrice</span>
                    </div>
                    <div class="booking-detail">
                        <label>Total Deposit:</label>
                        <span>RM @ViewBag.TotalDeposit</span>
                    </div>
                    <div class="booking-detail">
                        <label>Total Driving Range Fee:</label>
                        <span>RM @ViewBag.TotalDrivingRangeFee</span>
                    </div>
                    <div class="booking-detail">
                        <label>Total Vehicle Delivery Fee (Hotel):</label>
                        <span>RM @ViewBag.TotalDeliveryFee</span>
                    </div>
                    <div class="booking-detail">
                        <label>Total Payment:</label>
                        <span>RM @ViewBag.TotalPayment</span>
                    </div>
                </div>
                <form id="paymentForm" method="post" onsubmit="return validateCustomerName()">
                    <div class="billing-info">
                        <h2>Billing Information</h2>
                        <label>First Name:</label>
                        <input type="text" name="billing.FirstName" id="first-name" placeholder=" First Name" required>
                        <label>Last Name:</label>
                        <input type="text" name="billing.LastName" id="last-name" placeholder="Last Name" required>
                        <label>Contact:</label>
                        <input type="tel" name="billing.PhoneNumber" placeholder="Phone Number">
                        <label>Address:</label>
                        <input type="text" name="billing.Address" placeholder="Address" required>
                        <label>City:</label>
                        <input type="text" name="billing.City" placeholder="City" required>
                        <label>PostCode:</label>
                        <input type="text" name="billing.PostCode" placeholder="Postal Code" required>
                        <label>Country:</label>
                        <input type="text" name="billing.Country" placeholder="Country" required>
                        <label>State:</label>
                        <input type="text" name="billing.State" placeholder="State">
                    </div>
                    <div class="payment-type">
                        <h2>Payment Type</h2>
                        <label><input type="radio" name="PaymentType" value="Online" onclick="showBankTransferInfo()" required> Online Payment</label><br>
                        <label><input type="radio" name="PaymentType" value="BankTransfer" onclick="showBankTransferInfo()" required> Bank Transfer</label><br>
                        <div id="bankTransferInfo" style="display: none;">
                            Please transfer to this bank account:<br>
                            Bank Name: MayBank<br>
                            Account Number: 111222333<br>
                            Please screenshot the payment transaction and Whatsapp to 016-8299110.
                        </div>
                        <label><input type="radio" name="PaymentType" value="InPerson" onclick="showBankTransferInfo()" required> In Person Payment</label>
                    </div>
                    <input type="hidden" name="orderId" id="orderIdInput">
                    <input type="hidden" name="VehicleId" value="@Model?.VehicleId">
                    <input type="hidden" name="CustomerName" value="@ViewBag.CustomerName">
                    <input type="hidden" name="Icnumber" value="@ViewBag.ICNumber">
                    <input type="hidden" name="Email" value="@ViewBag.Email">
                    <input type="hidden" name="CustomerPhoneNumber" value="@ViewBag.PhoneNumber">
                    <input type="hidden" name="PickUpDate" value="@ViewBag.PickUpDate">
                    <input type="hidden" name="PickUpTime" value="@ViewBag.PickUpTime">
                    <input type="hidden" name="PickUpLocation" value="@ViewBag.PickUpLocation">
                    <input type="hidden" name="DropOffDate" value="@ViewBag.DropOffDate">
                    <input type="hidden" name="DropOffTime" value="@ViewBag.DropOffTime">
                    <input type="hidden" name="DropOffLocation" value="@ViewBag.DropOffLocation">
                    <input type="hidden" name="DrivingRange" value="@ViewBag.DrivingRange">
                    <input type="hidden" name="BabySeat" value="@ViewBag.BabySeat">
                    <input type="hidden" name="PhoneHolder" value="@ViewBag.PhoneHolder">
                    <input type="hidden" name="UsbCable" value="@ViewBag.UsbCable">
                    <input type="hidden" name="Amount" value="@ViewBag.TotalPayment">
                    <button type="button" class="checkout-button" onclick="submitForm()">Confirm Reservation</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Script -->
    <script>
        function showBankTransferInfo() {
            var bankTransferInfo = document.getElementById("bankTransferInfo");
            var bankTransferRadio = document.querySelector('input[name="PaymentType"][value="BankTransfer"]');
            var onlinePaymentRadio = document.querySelector('input[name="PaymentType"][value="Online"]');
            var inPersonRadio = document.querySelector('input[name="PaymentType"][value="InPerson"]');
            if (bankTransferRadio.checked) {
                bankTransferInfo.style.display = "block";
            } else {
                bankTransferInfo.style.display = "none";
            }
            if (onlinePaymentRadio.checked || inPersonRadio.checked) {
                bankTransferInfo.style.display = "none";
            }
        }
    </script>

    <script>
        function processOnlinePayment(orderId) {
            document.getElementById("orderIdInput").value = orderId;
            document.getElementById("paymentForm").submit();
        }
    </script>

    <script>
        function submitForm() {
            var paymentType = document.querySelector('input[name="PaymentType"]:checked').value;
            var formAction = "";

            if (paymentType === "Online") {
                formAction = "@Url.Action("InitiateOrder", "Home")";
            } else if (paymentType === "BankTransfer" || paymentType === "InPerson") {
                formAction = "@Url.Action("SaveBooking", "Home")";
            }

            document.getElementById('paymentForm').action = formAction;
            document.getElementById('paymentForm').submit();
        }
    </script>
    <script>
        function validateCustomerName() {
            var firstName = document.getElementById("first-name").value;
            var lastName = document.getElementById("last-name").value;

            // Check if firstName contains any numbers
            if (/\d/.test(firstName)) {
                alert("Please enter a valid first name without numbers.");
                return false; // Prevent form submission
            }
            // Check if lastName contains any numbers
            if (/\d/.test(lastName)) {
                alert("Please enter a valid last name without numbers.");
                return false; // Prevent form submission
            }
            return true; // Allow form submission if validation passes
        }
    </script>
</body>
</html>